@import url('https://fonts.googleapis.com/css?family=Baloo+2|Oswald&display=swap');
@import url('menu.css');
@import url('banner.css');
@import url('blog.css');
@import url('info.css');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.icon {
    height: 40px;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    text-decoration: none;
}

.icon-footer {
    height: 25px;
}